node_modules/
dist/
electron-dist/
logs/
*.log
backend/logs/
backend/data/*.dat
backend/data/*.json
build/ 
backend/node_modules/
frontend/node_modules/
backend/dist/
backend/electron-dist/
data/
dist/logs/
dist/data/

backend/.env
*.docx